
:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}

body.dark{
    --bg-black-900:#151515;
    --bg-black-100:#222222;
    --bg-black-50:#393939;
    --text-black-900:#ffffff;
    --text-black-700:#e9e9e9;
}


/* ================================================ Responsive Part ===================================== */
@media (max-width:1199px) {
    .section .container{
        padding-top: 70px;
    }
    .aside{
        left: -270px;
    }
    
    .aside.open{
        left: 0;
    }
    .aside .nav-toggler{
        display: flex;
        left: 30px;
    }
    .aside .nav-toggler.open{
        left: 30px;
    }
    .section{
        left: 0;
    }
    .section.open{
        left: 270px;
    }
    .about .about-content .personal-info .info-item p span{
        display: block;
        margin-left: 0;
    }
}

@media (max-width:991px) {
    .contact .contact-info-item,
    .project .project-item,
    .service .service-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home .home-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-img{
        display: none;
    }
}


@media (max-width:767px){
    
    .about .about-content .personal-info,
    .about .about-content .skills,
    .about .about-content .education,
    .about .about-content .experience,
    .service .service-item,
    .project .project-item,
    .contact .contact-info-item,
    .contact .contact-form .col-6{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .row{
        flex-direction: column-reverse;
    }
    .home .home-img{
        width: fit-content;
        display: block;
        height: 40vh;
        margin-bottom: 20px;
        
    }
    .home .home-img img{
        border: .05px solid var(--text-black-700);
        width: 310px;
        height: 310px;
        object-fit: contain;
        border-radius: 50%;
    }

    .home .home-img::before,
    .home .home-img::after{
        display: none;
    }
    
    .home h3.hello span{
        line-height: 1;
    }
    .home h3.my-profession{
        font-size: 23px;
        margin: 15px 0;
    }
    .home .home-info p{
        font-size: 15px;
    }
    .home .home-info a{
        margin-top: 15px;
    }
    
    .aside{
        left: -100%;
        width: 100%;
    }
    .aside .nav li a{
        font-size: 30px;
        border-bottom: 2px solid var(--bg-black-50);
    }

    .aside.open{
        left: 0;
    }
    .aside .nav-toggler{
        display: flex;
        left: 10px;
        top: 10px;
    }
    .aside .nav-toggler.open{
        left: 10px;
        top: 10px;
    }
    .about .about-content .about-text p{
        width: 100%;
    }
    .project .project-item-inner .project-img button{
        padding: 10px 20px;
    }

    .viewMorePro{
        width: 100%;
        display: flex;
        align-content: center;
        justify-content: center;
        margin: 40px 0 ;
    }
    .viewMorePro button{
        scale: 1;
    }

    

}
@media (max-width:500px){
    .home-contact-btn{
        display: none;
    }
}